@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}
html {
  scroll-behavior: smooth;
}

.jumbotron {
  padding-top: 6rem;
}

#projects {
  background-color: #bdc3c7;
}

section {
  padding-top: 5rem;
}

.inner {
  overflow: hidden;
}

.inner img {
  transition: all 1.5s ease;
}

.inner:hover img {
  transform: scale(1.5);
}
